@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply .font-body .text-grey-light .bg-purple-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: theme('colors.purple-light');
  opacity: 0.85;
  transition: 0.15s opacity ease-in-out;
}

a:hover,
a:active,
a:focus {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  @apply .font-bold .text-lg;
}

section {
  @apply .min-h-screen;
}
