@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply .font-display .antialiased .bg-black .text-gray-200;
  text-rendering: optimizeLegibility;
}

a {
  @apply .text-gray-200;
  transition: 0.15s color ease-in-out;
}

a:hover,
a:active,
a:focus {
  @apply .text-orange;
}

h1,
h2,
h3,
h4,
h5 {
  @apply .font-light .text-6xl;
}

button {
  @apply .font-mono .uppercase .flex .items-center .justify-center .leading-none .bg-transparent .border .border-gray-400 .text-gray-400 .appearance-none;
}

button:hover {
  @apply .bg-white .border-white .text-black;
}

::selection {
  @apply .text-white .bg-black;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-Light.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-Regular.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-Light.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-LightItalic.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-Book.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-BookItalic.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-Bold.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('/static/fonts/MaisonNeue-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/MaisonNeue-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'MaisonNeueMono';
  src: url('/static/fonts/MaisonNeueMono.woff2') format('woff2'),
    url('/static/fonts/MaisonNeueMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
