@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply .font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:hover,
a:active,
a:focus {
  border-color: theme('colors.highlighter');
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-Light.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/static/fonts/SaolDisplay-Regular.woff2') format('woff2'),
    url('/static/fonts/SaolDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/static/fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
    url('/static/fonts/BrandonGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/static/fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
    url('/static/fonts/BrandonGrotesque-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
